PORT=8802

DB_HOST=192.168.22.12
DB_PORT=3306
DB_USER=root
DB_PASSWORD=SakuraMikku@2001
DB_NAME=sakura_game_site
DB_CONNECTION_LIMIT=10

CORS_ORIGINS=http://localhost:8801

NODE_ENV=development

# 管理员配置
ADMIN_PASSWORD=admin123
ADMIN_TOKEN_SECRET=sakura_secret_2026